<div [@routerTransition] [hidden]="showChild">
    <app-page-header [heading]="'Categoria Egreso'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                
                <div class="card mb-3">
                    <div class="card-header">
                        Categoria de Egresos
                        <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                        <div class="float-right">
                            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/categresos/crud-categresos']" (click)="ShowChild()">
                                <i class="fa fa-plus-circle"></i> Crear Egreso</button>
                        </div>
                    </div>
                    
                    <p-table #dt class="f-12" [value]="db_catEgreso" selectionMode="single" [paginator]="true" [lazy]="false"
                        [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="80px">Codigo</th>
                                <th>Concepto de Egreso</th>
                                <th width="80px"></th>
                            </tr>
                            <ng-container *ngIf="ShowBuqueda">
                                <tr>
                                    <th>
                                        <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'idConceptoEgreso','equals'])">
                                    </th>
                                    <th>
                                        <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'descripcion','contains'])">
                                    </th>
                                    <th>-</th>
                                </tr>
                            </ng-container>
                        </ng-template>
                        <ng-template pTemplate="body" let-concepto>
                            <tr [pSelectableRow]="concepto">
                                <td>{{concepto.idConceptoEgreso}}</td>
                                <td>{{concepto.descripcion}}</td>
                                <td>
                                    <i class="fa fa-trash-o" aria-hidden="true" title="Eliminar" (click)="borrarRegistro(concepto)"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <router-outlet (activate)='onActivateChild()' (deactivate)='onDeactivateChild()'></router-outlet>
</div>