<div [@routerTransition] [hidden]="showChild">
    <app-page-header [heading]="usuario.sucursal.descripcion" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
                <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                Historial de Ingresos <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                                <div class="float-right">
                                        <button type="button" class="btn btn-success btn-sm" [routerLink]="['./crud-ingresos']"
                                        (click)="ShowChild()"> <i class="fa fa-plus-circle"></i>  Nuevo Ingreso</button>
                                </div>
                            </div>
                                    
                            <!-- <p-dataTable  class="f-12" emptyMessage="No hay registros" [value]="db_ingreso" [filterDelay]=500 [lazy]="true" (onLazyLoad)="filter($event)"
                                    selectionMode="single" [responsive]="true" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]">                                
                                <p-column field="fecha"  header="Fecha" [style]="{'width':'90px'}" [filter]="ShowBuqueda"></p-column>
                                <p-column field="montoIngresado"  header="Monto" [style]="{'width':'90px'}" [filter]="ShowBuqueda"></p-column>
                                <p-column field="sucursal.descripcion" [style]="{'width':'150px'}" header="Sucursal" [filter]="ShowBuqueda"></p-column>
                                <p-column field="cuenta.banco"  header="Banco" [filter]="ShowBuqueda"></p-column>
                                <p-column field="conceptoRegistro.descripcion"  header="Concepto" [filter]="ShowBuqueda"></p-column>
                                <p-column field="medioPago.descripcionMedioPago" [style]="{'width':'120px'}"  header="medio" [filter]="ShowBuqueda"></p-column>
                                <p-column [style]="{'width':'80px'}">
                                    <ng-template let-item="rowData" pTemplate type="body">
                                        <i class="fa fa-trash-o cursor pr-2" aria-hidden="true" title="Eliminar" (click)="borrarRegistro(item)"></i>
                                        <i class="fa fa-list-alt cursor" aria-hidden="true" title="Ver detalles" [routerLink]="['./crud-ingresos', {id: item.idIngreso}]"></i>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>         -->

                            <p-table #dt class="f-12" [value]="db_ingreso" selectionMode="single" [paginator]="true" [lazy]="true" (onLazyLoad)="filter($event)"
                                [rows]="10" [totalRecords]="totalRecords" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th width="80px" [pSortableColumn]="'fecha'"> Fecha
                                            <p-sortIcon [field]="'fecha'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'sucursal.descripcion'">Sucursal
                                            <p-sortIcon [field]="'sucursal.descripcion'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'cuenta.banco'">Banco
                                            <p-sortIcon [field]="'cuenta.banco'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'concepto.descripcion'">Concepto
                                            <p-sortIcon [field]="'concepto.descripcion'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'conceptoRegistro.descripcion'">Detalle
                                            <p-sortIcon [field]="'conceptoRegistro.descripcion'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'medioPago.descripcionMedioPago'">Medio
                                            <p-sortIcon [field]="'medioPago.descripcionMedioPago'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'montoIngresado'">Importe
                                            <p-sortIcon [field]="'montoIngresado'"></p-sortIcon>
                                        </th>
                                        <th width="80px"></th>
                                    </tr>
                                    <ng-container *ngIf="ShowBuqueda">
                                        <tr>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'fecha','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'sucursal.descripcion','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'cuenta.banco','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'conceptoRegistro.concepto.descripcion','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'conceptoRegistro.descripcion','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'medioPago.descripcionMedioPago','contains'])">
                                            </th>
                                            <th>
                                                <input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'monto','contains'])">
                                            </th>
                                            <th>-</th>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td>{{item.fecha}}</td>
                                        <td>{{item.sucursal.descripcion}}</td>
                                        <td>{{item.cuenta.banco}}</td>
                                        <td>{{item?.conceptoRegistro?.concepto?.descripcion}}</td>
                                        <td>{{item?.conceptoRegistro?.descripcion}}</td>
                                        <td>{{item.medioPago.descripcionMedioPago}}</td>
                                        <td>{{item.montoIngresado | number:'0.2'}}</td>
                                        <td>
                                            <i class="fa fa-trash-o cursor pr-2" aria-hidden="true" title="Eliminar" (click)="borrarRegistro(item)"></i>
                                            <i class="fa fa-list-alt cursor" aria-hidden="true" title="Ver detalles" [routerLink]="['./crud-ingresos', {id: item.idIngreso}]"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <ng-container *ngIf="sumaColumnas">
                                        <tr>
                                            <td colspan="6">
                                                <span>{{totalRecords}} Registros encontrados</span>
                                            </td>
                                            <td>
                                                <h6 class="bold">{{sumaColumnas[0].suma | number:'0.2'}}</h6>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" >    
            <router-outlet (activate)='onActivate()' (deactivate)='onDeactivate()'></router-outlet>
        </div>