 <div [@routerTransition] [hidden]="this.showChild">
    <app-page-header [heading]="'Egresos'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="col col-xl-12 col-lg-12">

                <div class="card mb-3">
                    <div class="card-header">
                        Historial Egresos <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                        <div class="float-right">
                                <button type="button" class="btn btn-success btn-sm" [routerLink]="['./crud-egresos']"
                                (click)="ShowChild()"> <i class="fa fa-plus-circle"></i>  Crear Egreso</button>
                        </div>
                    </div>

                    <p-dataTable class="f-12" [value]="db_egresos" [filterDelay]=500 [lazy]="true" 
                        (onFilter)="filter($event)" selectionMode="single" [responsive]="true">
                        <p-column field="fecha"  header="Fecha" [style]="{'width':'90px'}" [filter]="ShowBuqueda"></p-column>
                        <p-column field="monto"  header="Monto" [style]="{'width':'90px'}" [filter]="ShowBuqueda"></p-column>
                        <p-column field="sucursal.descripcion" [style]="{'width':'150px'}" header="Sucursal" [filter]="ShowBuqueda"></p-column>
                        <p-column field="cuenta.banco"  header="Banco" [filter]="ShowBuqueda"></p-column>
                        <p-column field="conceptoEgreso.descripcion"  header="Concepto" [filter]="ShowBuqueda"></p-column>
                        <p-column field="medioPago.descripcionMedioPago" [style]="{'width':'120px'}"  header="medio" [filter]="ShowBuqueda"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" >    
    <router-outlet (activate)='onActivate()' (deactivate)='onDeactivate()'></router-outlet>
</div>