<div [@routerTransition]>
  <app-page-header [heading]="'ListaAreas'" [icon]="'fa-desktop'"></app-page-header>
  <div [@routerTransition]>
    <div class="row">
      <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
          <div class="card-header">
            Tipo de pago            
          </div>
          <div class="card-header">

            <form [formGroup]="form">
              <div class="row">
                <div class="col">
                  <mat-form-field class="w-100">
                    <input autocomplete="off" autofocus matInput placeholder="Descripcion" formControlName="descripcionMedioPago">
                  </mat-form-field>
                </div>
              </div>
            </form>

            <hr>
            <div>
              <button type="button" appKeyClick="F10" class="btn btn-success mr-2" (click)="guardarCambios()" [disabled]="!form.valid">
                <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>
                [F10] Guardar
              </button>
              <button type="button" appKeyClick="Escape" class="btn btn-danger" [routerLink]="['../']">[Esc] Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>