<div [@routerTransition]>
    <app-page-header [heading]="'Sucursales'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
      <div class="row">
        <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              Nueva Sucursal
              <div class="float-right">
                  <button type="button" [routerLink]="['../']" class="btn btn-success btn-sm">
                    Atras</button>
              </div>
            </div>
            <div class="card-header">

              <form [formGroup]="form">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="w-100">
                      <input appNextfocus autocomplete="off" autofocus matInput placeholder="Descripcion" formControlName="descripcion">
                    </mat-form-field>

                    <mat-form-field class="w-100">
                      <input appNextfocus matInput placeholder="Direccion" formControlName="direccion">
                    </mat-form-field>

                    <mat-form-field class="w-100">
                      <input appNextfocus matInput placeholder="Telefono" formControlName="telefono">
                    </mat-form-field>

                    <mat-form-field class="w-100">
                      <input appNextfocus matInput placeholder="Correo" formControlName="correo">
                    </mat-form-field>

                  </div>
                </div>
              </form>

              <hr>
              <div>
                <button appNextfocus type="button" class="btn btn-success mr-2" (keydown.enter)="guardarCambios()" (click)="guardarCambios()" [disabled]="!form.valid">
                  <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>
                  Guardar
                </button>
                <button type="button" class="btn btn-danger" [routerLink]="['../']">Cancelar</button>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>