<div [@routerTransition] [hidden]="showChild">
        <app-page-header [heading]="'Sucursales'" [icon]="'fa-desktop'"></app-page-header>
        <div [@routerTransition]>
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">            
                        <div class="card mb-3">
                            <div class="card-header">
                                Historial Sucursales <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                                <div class="float-right">
                                    <button type="button" class="btn btn-success btn-sm" [routerLink]="['./crud-sucursales']"
                                        (click)="ShowChild()"> <i class="fa fa-plus-circle"></i>  Crear Sucursal</button>
                                    </div>
                                </div>
            
                                <p-dataTable class="f-12" [value]="db_sucursal" [filterDelay]=500 [lazy]="true" 
                                     (onFilter)="filter($event)" selectionMode="single" [responsive]="true">
                                    <p-column field="idSucursal"  header="ID" [style]="{'width':'50px'}" [filter]="ShowBuqueda"></p-column>
                                    <p-column field="descripcion"  header="Sucursal" [filter]="ShowBuqueda"></p-column>
                                    <p-column field="direccion"  header="Direccion" [filter]="ShowBuqueda"></p-column>
                                    <p-column field="telefono"  header="Telefono" [style]="{'width':'90px'}" [filter]="ShowBuqueda"></p-column>
                                </p-dataTable>
                        </div>
                    </div>
                </div>
        </div>
    </div>        
    <div class="container-fluid" >    
            <router-outlet (activate)='onActivateChild()' (deactivate)='onDeactivateChild()'></router-outlet>
    </div>