<div [@routerTransition] [hidden]="showChild">
    <app-page-header [heading]="'Proveedores'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="col col-xl-12 col-lg-12">

                <div class="card mb-3">
                    <div class="card-header">
                        Proveedores
                        <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                        <div class="float-right">
                            <button type="button" class="btn btn-success btn-sm" [routerLink]="['./crud-proveedores']" (click)="ShowChild()">
                                <i class="fa fa-plus-circle"></i> Crear Proveedor</button>
                        </div>
                    </div>

                    <p-table #dt class="f-12" [value]="db_data" selectionMode="single" [paginator]="true" [lazy]="false" [rows]="10" [totalRecords]="totalRecords"
                        [pageLinks]="5" [rowsPerPageOptions]="[10,20,30]" editable="true" editMode="cell">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="80px" [pSortableColumn]="'idProveedor'"> Codigo
                                    <p-sortIcon [field]="'idProveedor'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'razonSocial'"> Nombre | Razon Social
                                    <p-sortIcon [field]="'razonSocial'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'ruc'"> RUC | DNI
                                    <p-sortIcon [field]="'ruc'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'direccion'"> Direccion
                                    <p-sortIcon [field]="'direccion'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'correo'"> Correo
                                    <p-sortIcon [field]="'correo'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'rubroServicio'"> Rubro
                                    <p-sortIcon [field]="'rubroServicio'"></p-sortIcon>
                                </th>
                                <th width="80px" [pSortableColumn]="'telefono'"> Telefono
                                    <p-sortIcon [field]="'telefono'"></p-sortIcon>
                                </th>                                
                                <th width="80px"></th>
                            </tr>
                            <ng-container *ngIf="ShowBuqueda">
                                <tr>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'idProveedor','equals'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'razonSocial','contains'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'ruc','contains'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'direccion','contains'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'correo','contains'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'rubroServicio','contains'])"></th>
                                    <th><input pInputText type="text" class="w-100" (input)="Typeahead.next([$event.target.value,'telefono','contains'])"></th>
                                    <th>-</th>
                                </tr>
                            </ng-container>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.idProveedor}}</td>
                                <td>{{item.razonSocial}}</td>
                                <td>{{item.ruc}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.correo}}</td>
                                <td>{{item.rubroServicio}}</td>
                                <td>{{item.telefono}}</td>
                                <td>                                    
                                    <i class="fa fa-trash-o cursor pr-2" aria-hidden="true" title="Eliminar" (click)="borrarRegistro(item)"></i>
                                    <i class="fa fa-pencil cursor" aria-hidden="true" title="Editar" [routerLink]="['./crud-proveedores', {id: item.idProveedor}]"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <router-outlet (activate)='onActivateChild()' (deactivate)='onDeactivateChild()'></router-outlet>
</div>