        <div [@routerTransition]>
                <app-page-header [heading]="'Ingresos'" [icon]="'fa-desktop'"></app-page-header>
                <div [@routerTransition]>
                  <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                      <div class="card mb-3">
                        <div class="card-header">
                          Nuevo Ingreso
                        </div>
                        <div class="card-header">

                            <form [formGroup]="form">
                                <div class="row">
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100">
                                          <input matInput placeholder="Usuario" formControlName="usuario" readonly>
                                      </mat-form-field>
      
                                      <mat-form-field class="w-100">
                                          <mat-select placeholder="Sucursal" formControlName="sucursal">
                                            <mat-option *ngFor="let sucursal of db_sucursal" [value]="sucursal">
                                              {{sucursal.descripcion}}
                                            </mat-option>
                                          </mat-select>
                                      </mat-form-field>
      
                                      <mat-form-field class="w-100">
                                          <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>                                
                                  </div>
                                  
                                  <div class="col-md-8">
      
                                    <mat-form-field class="w-100">                                      
                                      <input matInput placeholder="Motivo" [matAutocomplete]="auto" formControlName="conceptoIngreso">
                                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let concepto of concepto_ingreso_filter" [value]="concepto">
                                          <span>{{concepto.descripcion}}</span>
                                        </mat-option>
                                      </mat-autocomplete>
                                    </mat-form-field>
      
                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Cuenta Origen" formControlName="cuenta">
                                          <mat-option *ngFor="let cuenta of db_cuenta" [value]="cuenta"> 
                                            {{cuenta.banco}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
      
                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Medio de Pago" formControlName="medioPago">
                                          <mat-option *ngFor="let medio of db_medio_pago" [value]="medio">
                                            {{medio.descripcionMedioPago}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
      
                                    <mat-form-field class="w-100">
                                        <input type="number" matInput placeholder="Importe" formControlName="montoIngresado">
                                    </mat-form-field>                                                          
                                    
                                    <mat-form-field class="w-100">
                                        <textarea matInput placeholder="Escriba las especificiones" formControlName="detalles"></textarea>
                                    </mat-form-field>      
                                  </div>
      
                                </div>                          
                              </form>
                     
                          <hr>
                          <div>
                            <button type="button" class="btn btn-success mr-2" (click)="guardarCambios()" [disabled]="!form.valid">
                              <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>
                              Guardar
                            </button>
                            <button type="button" class="btn btn-danger" [routerLink]="['../']">Cancelar</button>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
         