<div [@routerTransition]>
    <app-page-header [heading]="'Usuario'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
        <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Nuevo Usuario
                    </div>
                    <div class="card-header">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-8">
                                    
                                    <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Nombres y apellidos" formControlName="nombreApellido">
                                    </mat-form-field>
                                    
                                    <!-- <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="DNI" formControlName="dni">
                                    </mat-form-field> -->

                                    <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Direccion" formControlName="direccion">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Telefono" formControlName="telefono">
                                    </mat-form-field>

                                    <!-- <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Correo" formControlName="correo">
                                    </mat-form-field> -->
                                    
                                    <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Fecha de Nacimiento" type="date" formControlName="fechaNacimiento">
                                    </mat-form-field>                                    
                                    
                                    <mat-form-field class="w-100">
                                        <input appNextfocus autofocus autofocus matInput placeholder="Fecha de Nacimiento" type="date" formControlName="fechaIngreso">
                                    </mat-form-field>

                                </div>
                                <div class="col-md-4">
                                     
                                    <!-- [compareWith]="compareArea" Se utiliza para obtener el valor incial. Ej: Al editar los valores obtenidos deben mostrarse en combo -->
                                    <mat-form-field class="w-100">
                                        <mat-select appNextfocus placeholder="Sucursal" formControlName="sucursal" [compareWith]="compareSucursal">
                                            <mat-option *ngFor="let sucursal of db_sucursal" [value]="sucursal">
                                                {{sucursal.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                     <!-- [compareWith]="compareArea" Se utiliza para obtener el valor incial. Ej: Al editar los valores obtenidos deben mostrarse en combo -->
                                    <mat-form-field class="w-100">
                                        <mat-select appNextfocus placeholder="Area" formControlName="area" [compareWith]="compareArea">
                                            <mat-option *ngFor="let item of db_area" [value]="item">
                                                {{item.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>                                                                    

                                    <mat-form-field class="w-100">
                                        <input appNextfocus matInput placeholder="Usuario" formControlName="usuario">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <input appNextfocus matInput type="password" placeholder="Contrasena" formControlName="contrasena">
                                    </mat-form-field>

                                </div>
                            </div>
                        </form>

                        <hr>
                        <div>
                            <button appNextfocus appKeyClick="F10" type="button" class="btn btn-success mr-2" (keydown.enter)="guardarCambios()" (click)="guardarCambios()"
                                [disabled]="!form.valid">
                                <i *ngIf="procesando" class="fa fa-spinner fa-spin fa-fw"></i>
                                [F10] Guardar
                            </button>
                            <button appKeyClick="Escape" type="button" class="btn btn-danger" [routerLink]="['../']">[Esc] Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>