<div [@routerTransition] [hidden]="showChild">
    <app-page-header [heading]="'Areas'" [icon]="'fa-desktop'"></app-page-header>
    <div [@routerTransition]>
            <div class="row">
                <div class="col col-xl-12 col-lg-12">            
                    <div class="card mb-3">
                        <div class="card-header">
                            Historial Areas <i class="fa fa-search" title="Buscar" (click)="ShowBuqueda = !ShowBuqueda"></i>
                            <div class="float-right">
                                <button type="button" class="btn btn-success btn-sm" [routerLink]="['./crud-areas']"
                                    (click)="ShowChild()"> <i class="fa fa-plus-circle"></i>  Crear Egreso</button>
                                </div>
                            </div>
        
                            <p-dataTable class="f-12" [value]="db_area" [filterDelay]=500 [lazy]="true" 
                                 (onFilter)="filter($event)" selectionMode="single" [responsive]="true">
                                <p-column field="idArea"  header="ID" [style]="{'width':'50px'}" [filter]="ShowBuqueda"></p-column>
                                <p-column field="descripcion"  header="Area" [filter]="ShowBuqueda"></p-column>
                            </p-dataTable>
                    </div>
                </div>
            </div>
    </div>
</div>        
<div class="container-fluid" >    
        <router-outlet (activate)='onActivateChild()' (deactivate)='onDeactivateChild()'></router-outlet>
</div>
