<div>
  <app-page-header [heading]="'Categoria Egreso'" [icon]="'fa-desktop'"></app-page-header>
  <div>
    <div class="row">
      <div class="col col-xl-12 col-lg-12">
        <!-- <app-list-concepto></app-list-concepto> -->
        <!-- <mat-tab-group>
          <mat-tab label="Conceptos"> <app-list-concepto></app-list-concepto> </mat-tab>
          <mat-tab label="Concepto Registros"> <app-lista-concepto-registro></app-lista-concepto-registro> </mat-tab> 
        </mat-tab-group> -->
      </div>
    </div>
  </div>
</div>

